*{
  box-sizing: border-box;
}
body{
  background-color: #4aaaa5;
  background-image: url('../image/bg-hexlight.png');
}

.container {
  max-width: 960px; 
  padding: 0;
  margin: 0 auto;
}

.crd-w-100{
  width: 100%;
}
.row{
  margin: 8px;
}

/* SPacing ------------------------------------------------- */
.crd-mb-12 {
  margin-bottom: 12px;
}
.crd-mb-32{
  margin-bottom: 32px;
}

.crd-pt-16 {
  padding-top: 16px;
}

/* Colors --------------------------------------------------------------- */
.crd-font-teal {
  color: #4aaaa5;
}
.nav-link{
  color: #777;
}

.nav-link:hover,
.nav-link:active {
  color:#4aaaa5;
}

/* Navbar -------------------------------------------------- */

nav ul li:not(:last-of-type) {
  border-right: 1px solid #33333311;
}
.crd-navbar {
  background-color: #fff;
  border-bottom: 3px solid #ccc;
  padding: 0;
  margin-bottom: 32px;
}

.nav-logo{
  height:100%;
  color: #fff;
  background-color: #4aaaa5;
  padding: 8px 24px;
}

/* Page content ----------------------------------------- */

.crd-title-border-bottom{
  border-bottom: 2px solid #ccc;
}

.crd-profile-picture{
  width:128px;
  height:128px;
  margin: 8px;
  margin: 0 auto;
}

.crd-main-wrapper{
  border: 1px solid #ddd;
  background-color: #fff;
  color: #666;
}

.crd-profile-preview-caption{
  padding: 16px;
  position: relative;
  bottom: 24%;
  background-color: #4aaaa5;
  color: #fff;
  text-align: center;
}

/* footer --------------------------------------------- */

.crd-footer {
  border-top: 3px solid #4aaaa5;
  padding-top: 16px;
  background-color: #666666;
  color: #fff;
  font-size: 12px;
}